﻿@model DAL.Lesson
@{
    ViewBag.Title = Model.Name;
}
<link href="@Url.Action("test_sample.css", "Styles")" rel="stylesheet" />

<div id="container">
    <h1>@Model.Name</h1>
    <div id="test-container">
        <div id="progress-bar-div">
            <progress id="progress-bar" class="progress-bar" value="0" max="1"></progress>
            <div class="test-answer-ratio">
                <span>Correct answers:</span>
                <span id="correctCount-div" class="answers-ratio">0/1</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="question-div" itemscope itemtype="http://schema.org/Question">
            <h3 class="question-text"  itemprop="name"></h3>
            <div class="question-media" itemprop="associatedMedia"></div>
        </div>
        <div id="answer-div">
            <div class="line-div">
                <div id="ans1" class="answer left" itemscope itemtype="http://schema.org/Answer" itemprop="text">
                </div>
                <div id="ans2" class="answer right" itemscope itemtype="http://schema.org/Answer" itemprop="text">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="line-div">
                <div id="ans3" class="answer left" itemscope itemtype="http://schema.org/Answer" itemprop="text">
                </div>
                <div id="ans4" class="answer right" itemscope itemtype="http://schema.org/Answer" itemprop="text">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="nav-buttons-container">
            <button id="prev-btn" class="navigation-btn">Previous</button>
            <button id="question-list-btn" class="navigation-btn hidden">Questions</button>
            <button id="next-btn" class="navigation-btn">Next</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script src="~/Scripts/AudioPlayer.js"></script>
<script src="~/Scripts/Question.js"></script>
<script src="~/Scripts/Question_Image_Text.js"></script>
<script src="~/Scripts/Question_Sound_Image.js"></script>
<script src="~/Scripts/Question_Sound_Text.js"></script>
<script src="~/Scripts/Question_Text_Image.js"></script>
<script src="~/Scripts/Question_Text_Text.js"></script>
<script src="~/Scripts/QuestionsFactory.js"></script>
<script src="~/Scripts/Lesson.js"></script>
<script>
    Lesson.Global_Init("@Url.Action("Questions/","Images")", "@Url.Action("Questions/","Sounds")", "@Url.Action("Index/","Home")");
    Lesson.Start(@Model.LessonId);
</script>
