﻿@{
    ViewBag.Title = "Lessons";
    var lessons = ViewBag.Lessons as IEnumerable<DAL.Lesson>;
    var completedLessons = ViewBag.CompletedLessons as Dictionary<int,bool>;
}
<link href="@Url.Action("lessons_list.css", "Styles")" rel="stylesheet" type="text/css"/>
<div id="content">
    <div id="container">
        @*<h1>Beginner</h1>*@
        <h3 id="pageTitle">Pick a lesson</h3>
        <div class="item-holder" id="language-holder">
            <ul class="list-lang-items">
                @foreach (var lesson in lessons)
                {
                    <li class="img-item" >
                        <a href="@Url.Action("Lesson", "Home", new { lessonId = lesson.LessonId })">
                            <img class="img-link" src="@Url.Action("Lessons/" + lesson.Icon, "Images")" alt="@lesson.Name" />
                        </a>
                        <p class="img-label">
                            @lesson.Name
                            @if (completedLessons.ContainsKey(lesson.LessonId))
                            {
                                if(completedLessons[lesson.LessonId])
                                {
                                    <img class="lesson-icon" title="Lesson completed." src="@Url.Action("completed.png", "Images")" alt="completed" />
                                }
                                else
                                {
                                    <img class="lesson-icon" title="Lesson failed." src="@Url.Action("failed.png", "Images")" alt="failed" />
                                }   
                            }
                        </p>
                    </li>
                }
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
