﻿/* main css */
body {
    background-color: #30302F;
    font: small/1.3 Arial, Helvetica, sans-serif;
}

#wrap {
    background-color: #F4F4F2;
}

#nav {
    background-color: #F4F4F2;
    border-bottom: 10px solid #3EC303;
    border-top: 1px solid #3EC303;
}

    #nav li a {
        color: #333333;
    }

    #nav li:hover {
        color: #333333;
        background-color: #3EC303;
    }

        #nav li:hover > a {
            color: white;
            background-color: #3EC303;
        }



/*#breadcrumbs li:hover {
    background-color: #ccc;
}*/

.img-item {
    border: solid 2px #F4F4F2;
    border-radius: 5px;
}

    .img-item:hover {
        background-color: #C9E1C1;
        border: solid 2px #3EC303;
    }

        .img-item:hover > p {
            background-color: #3EC303;
            border-radius: 4px;
            color: white;
        }

    .img-item > p {
        padding: 0.2em;
    }


.current {
    color: #c00;
    background-color: #ccc;
}

.widget {
    background-color: #C9E1C1;
    border: solid 2px #3EC303;
}

    .widget .widget-button {
        background-color: #C9E1C1;
        border: solid 2px #3EC303;
        border-radius: 5px;
        padding: 0.3em;
        cursor: pointer;
    }

        .widget .widget-button:hover {
            background-color: #3EC303;
            color: white;
        }

#language-widget-id .widget-row {
    background-color: #C9E1C1;
    border: solid 2px #3EC303;
    border-radius: 5px;
}

    #language-widget-id .widget-row:hover {
        background-color: red;
    }

#menuOptions li {
    background-color: #3EC303;
    color: white;
    border: solid #3EC303 2px;
}

    #menuOptions li > a {
        color: white;
    }

    #menuOptions li:hover {
        background-color: #C9E1C1;
    }

        #menuOptions li:hover > a {
            background-color: #C9E1C1;
            color: #333333;
        }

/* test_sample */
#progress-bar-div .progress-bar {
    background-color: white;
}



#test-container {
    border: solid black 2px;
    border-radius: 10px;
}

.test-answer-ratio span {
    font-size: 1.2em;
}

#question-div .question-text {
    font-size: 2em;
}

#answer-div {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.answer {
    font-size: medium;
    border: solid #DDD4BC 3px;
    border-radius: 10px;
    background-color: #DDD4BC;
    padding: 1%;
}

    .answer:hover {
        border: solid #0092D7 3px;
        background-color: #0092D7;
        color: white;
    }


.correctAnswer, .correctAnswer:hover {
    background-color: #A0FB71;
    border: solid #A0FB71 3px;
    color: #333333;
}


.wrongAnswer, .wrongAnswer:hover {
    background-color: #D32127;
    border: solid #D32127 3px;
    color: white;
}


.navigation-btn {
    background-color: #C9E1C1;
    border: solid 2px #3EC303;
    border-radius: 10px;
}

    .navigation-btn:hover {
        background-color: #3EC303;
        color: white;
        cursor: pointer;
    }

.sound-btn {
    border-radius: 20px;
}


/*study_book.css*/
.studybook-section {
    background-color: #C9E1C1;
    border: solid 2px #3EC303;
    border-radius: 10px;
}

#progress-bar-div {
    border-bottom: solid black 1px;
}
