﻿/* main css */
#wrap {
    background-color: #fff;
}

#nav {
    background-color: #f2f2f2;
    border-bottom: 10px solid #ccc;
    border-top: 1px solid #ccc;
}

    #nav li a {
        color: #069;
    }

    #nav li:hover {
        color: #c00;
        background-color: #ccc;
    }

body {
    background-color: #555;
    font: small/1.3 Arial, Helvetica, sans-serif;
}

/*#breadcrumbs li:hover {
    background-color: #ccc;
}*/

.img-item:hover {
    background-color: #ccc;
}


.current {
    color: #c00;
    background-color: #ccc;
}

.widget {
    background-color: activecaption;
}

#language-widget-id .widget-row:hover {
    background-color: red;
}

#menuOptions li {
    background-color: #ccc;
}

    #menuOptions li:hover {
        background-color: goldenrod;
    }

/* test_sample */
#progress-bar-div .progress-bar {
    background-color: chartreuse;
}

.correctAnswer {
    background-color: green;
}

.wrongAnswer {
    background-color: red;
}
