﻿/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2015, 10:30:28 PM
    Author     : AugustinUser
*/
#wrap {
    width: 90%;
    margin: 0 auto;
    height: 90%;
    min-width: 300px;
}

#nav {
    display: inline-block;
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    /*border-bottom: 10px solid #ccc;
    border-top: 1px solid #ccc;*/
}

    #nav li {
        float: left;
        /*needs some fix*/
        height: 45px;
    }


        #nav li.link-item {
            width: 120px;
        }

        #nav li.right {
            float: right;
        }

        #nav li a {
            display: block;
            padding: 8px 15px;
            text-decoration: none;
            font-weight: bold;
        }

        #nav li.link-item a {
            margin-top: 1em;
        }

#breadcrumbs {
    list-style: none;
    display: inline-block;
}

/*#breadcrumbs li {
        float: left;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 2em;
    }

        #breadcrumbs li:hover {
            background-color: #ccc;
        }


    #breadcrumbs .first {
        margin-left: -2em;
    }

    #breadcrumbs a {
        display: block;
        text-decoration: none;
    }*/

#container {
    /*clearing float from breadcrums*/
    clear: left;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    padding-top: 1em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    /*border: solid black 1px;*/
    text-align: center;
}

.item-holder {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 90%;
    /*display: inline-block;*/
    /*border-bottom: solid black 1px;*/
}

.list-lang-items {
    text-align: center;
    width: 100%;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    /*padding-start: 0;*/
    padding: 0;
}

    .list-lang-items li {
        display: inline;
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .list-lang-items .img-item {
        display: inline-block;
    }

.list-img-items .img-label {
    margin-top: 0em;
}
.img-item {
     transition: all ease 0.4s;
     margin-top: 0.4em;
}
.img-link {
    width: 168px;
    height: 168px;
}

.clearfix {
    clear: both;
}

/*hidden divs*/
.hidden {
    display: none;
}

.widget {
    width: 200px;
    text-align: center;
    position: absolute;
    /*border: solid black 1px;
    border-radius: 10px;*/
    display: none;
    z-index: 1000;
}

    /* css for pointing arrow above widget */
    .widget::before {
        /*border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;*/
        position: absolute;
        content: "";
        top: -7px;
        left: 24px;
        width: 3px;
    }

/*language widget*/
.language-widget {
    margin-left: -78px;
}

    .language-widget::before {
        margin-left: 78px;
    }

.lang-widget-list {
    margin: 0 auto;
    list-style: none;
    width: 100%;
    -webkit-padding-start: 4.5%;
    -moz-padding-start: 4.5%;
    -khtml-padding-start: 4.5%;
    -o-padding-start: 4.5%;
    /*padding-start: 4.5%;*/
    padding: 4.5%;
}

#language-widget-id .widget-row {
    display: inline-block;
    width: 90%;
    text-align: left;
    vertical-align: middle;
    /*margin: 0.5em;*/
    margin: 0 auto;
    /*border: solid black 1px;
    border-radius: 5px;*/
    margin-bottom: 0.2em;
    /*margin-left: -2em;*/
    /*padding-left: -0.5em;*/
    /*padding-right: 1em;*/
}

    #language-widget-id .widget-row img {
        margin-bottom: -0.5em;
    }

.iconFlag {
    position: relative;
}




/*user-widget*/
.user-widget {
    margin-left: -16px;
}

    .user-widget::before {
        margin-left: 16px;
    }


.left-align {
    text-align: left;
    margin: 0 auto;
}

.user-widget-part {
    /*border-bottom: solid black 1px;*/
    margin: 1em;
}

.login-btn-container {
    padding-bottom: 0.5em;
}

.sign-in-container {
    margin-bottom: 0.5em;
}

.widget form {
    margin: 0.2em;
}

.iconUser {
    position: relative;
}

#nav .social-network-link {
    padding: 0em;
}

/*dictionary-widget*/

.dictionary-widget {
    /*border: solid black 1px;*/
    margin-left: -140px;
}

    .dictionary-widget::before {
        left: 165px;
    }

.dictionary-widget-element {
    margin: 0.2em;
}

.dictionary-widget-line {
    margin: 0 auto;
}

.div-row {
    vertical-align: middle;
}

.input-box {
    height: 100px;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

.select-lang-dictionary {
    width: 40%;
}


/*responsive*/

@media screen and (min-width:601px) {
    #menu-button {
        display: none;
    }

    #menuOptions {
        display: none;
    }

}


@media screen and (max-width: 600px) {
    #menu-button {
        display: block;
        width: 20%;
    }

        #menu-button:hover > ul {
            display: block;
        }

    .link-item {
        display: none;
    }

    #menuOptions {
        display: none;
        list-style: none;
        position: relative;
        left: -40px;
    }

        #menuOptions li {
            width: 200px;
            text-align: center;
            padding-top: 0.5em;
        }
}

@media screen and (min-width:601px) and (max-width:800px) {
    #nav li.link-item {
        width: 80px;
    }
}
