/* Begin Navigation Bar Styling */

#wrap {
    width: 90%;
    margin: 0 auto;
    background-color: #fff; 
    min-width: 300px;
}
#nav {
    display: inline-block;
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc; 
}

#nav li {
    float: left;
    
    /*needs some fix*/
    height: 45px; 
}

#nav li.right {
    float:right;
}

#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
}
#nav li:hover {
    color: #c00;
    background-color: #fff; 
}
/* End navigation bar styling. */

/* This is just styling for this specific page. */
body {
    background-color: #555; 
    font: small/1.3 Arial, Helvetica, sans-serif; 
}

//breadcrums

#breadcrumbs{
    list-style: none;
    display:inline-block;
}

#breadcrumbs li {
    float:left;
    margin-top : 0.2em;
    margin-bottom : 0.2em;
    margin-right: 2em;
}

#breadcrumbs li:hover {
    background-color: #ccc;
}


#breadcrumbs .first{
    margin-left: -2em;
}

#breadcrumbs a{
    display: block;
    text-decoration: none;

}

#container{
    /*clearing float from breadcrums*/
    clear:left;
    width: 90%;
    height:90%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border: solid black 1px;

    /*align text center*/
    text-align: center;

    /*scrolling*/
    overflow: scroll;

    /*width constraints*/
}
.item-holder {
    margin: 0 auto;
    margin-top: 2em;
    max-width: 90%;
    display: inline-block;
    border-bottom: solid black 1px;
}
.list-lang-items{
    width: 100%;
    margin: 0 auto;
    list-style: none;
}
.list-lang-items li {
    float:left;
    margin-left: 1em;
    margin-right: 1em;
     padding-left: 0.5em;
    padding-right: 0.5em;
}

.list-img-items .img-label {
    margin-top: 0em;
}


.clearfix {
    clear:both;
}

/*hidden divs*/
.hidden {
    display:none;
}

