/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2015, 2:53:26 PM
    Author     : AugustinUser
*/

#test-container {
    width:90%;
    margin: 0 auto;
    border: solid black 1px;
}

/*progress bar*/
#progress-bar-div {
    width: 96%;
    border: solid black 1px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

#progress-bar-div .progress-bar {
     background-color: chartreuse;   
    margin: 1em;
    height: 30px;
    width: 90%;
    border-radius: 9px; 
}

#progress-bar-div .answers-ratio {
    vertical-align:middle
}

/*
#progress-bar {
    height:30px;
    width:80%;
    border: solid black 1px;
    margin: 1em;
    display: block;
}
#progress-bar .progres-bar-front {

    background-color: chartreuse;
    text-align:right;
    width: 60%;
    height: 100%;
    display: block;
    float: left;
}

#progress-bar .progress-bar-back {

    background-color: #c00;
    text-align:right;
    width: 40%;
    height: 100%;
    display: block;
    float: left;

}*/

#answers-ratio {
    margin-top: 2em;
    text-align: center;
}

/*question*/
#question-div {
    width: 100%;
    margin-bottom: 1em;
}

/*answers*/
#answer-div {
    width: 100%;
    border: solid black 1px;
    margin: 0 auto;
}
.answer {
    cursor: pointer;
    width: 40%;
    border:solid black 1px;
    padding: 2.5%;
    margin: 2%;
}
.answer:hover {
    border: solid coral 1px;
}

.left {
    float:left;
}

.right {
    float: right;
}

/*buttons*/
.navigation-btn {
    width: 90px;
    padding:1em;
    margin:1em;
}

#prev-btn {
    float: left;
    margin-left: 2em;
}

#next-btn {
    float: right;
    margin-right: 2em;
}


.sound-btn {
    border-radius: 20px;
}