﻿<!DOCTYPE html>
@{
    var isAuthentificated = FOLLA.Helpers.SessionHelper.Authentificated;
    FOLLA.Helpers.PagesHelper.Refresh();
    var languages = FOLLA.Helpers.PagesHelper.GetAllLanguages();
    var defaultLanguage = FOLLA.Helpers.PagesHelper.GetDefaultLanguage();
    var user = FOLLA.Helpers.PagesHelper.GetCurrentUser();
    var completedLessons = FOLLA.Helpers.PagesHelper.GetUserCompletedLessons();
    var notCompletedLessons = FOLLA.Helpers.PagesHelper.GetUserNotCompletedLessons();
    var accurancy = FOLLA.Helpers.PagesHelper.GetUserAccurancy();
    var achievements = FOLLA.Helpers.PagesHelper.GetUserAchievements();
    var socialNetworks = FOLLA.Helpers.PagesHelper.GetAllSocialNetworks();
    var scoreToken = "{user_score}";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Action("main_theme.css", "Styles")" rel="stylesheet" type="text/css" />
     <link href="@Url.Action("Colors1.css", "Styles")" rel="stylesheet" type="text/css" />
    <link href="@Url.Action("Borders.css", "Styles")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
</head>
<body>
    <div id="wrap">
        <ul id="nav">
            <li id="menu-button">
                <a href="#">
                    <img src="@Url.Action("menu-icon.png", "Images")" width="32" height="32" alt="menu">
                </a>
                <ul id="menuOptions">
                    <li class="special-link-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="special-link-item"><a href="@Url.Action("Index", "Studybooks")">Books</a></li>
                    <li class="special-link-item"><a href="@Url.Action("Index", "Help")">Help</a></li>
                </ul>
            </li>
            <li class="link-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="link-item"><a href="@Url.Action("Index", "Studybooks")">Books</a></li>
            <li class="link-item"><a href="@Url.Action("Index", "Help")">Help</a></li>
            <li class="widget-item right iconDictionary">
                <a href="#">
                    <img src="@Url.Action("Dictionary-icon.png", "Images")" alt="Dictionary" /></a>
                <div class="widget dictionary-widget">
                    <div class="dictionary-widget-line">
                        <select class="select-lang-dictionary dictionary-widget-element" id="input-lang-select">
                            @foreach (var lang in languages)
                            {
                                if (lang.LanguageId == defaultLanguage.LanguageId)
                                {
                                <option value="@lang.LanguageId" selected>@lang.Name</option>
                                }
                                else
                                {
                                <option value="@lang.LanguageId">@lang.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="dictionary-widget-line">
                        <textarea id="input-lang-box" class="dictionary-widget-element input-box"></textarea>
                    </div>
                    <div class="dictionary-widget-line">
                        <select class="select-lang-dictionary dictionary-widget-element" id="output-lang-select">
                            @foreach (var lang in languages)
                            {
                                <option value="@lang.LanguageId">@lang.Name</option>   
                            }
                        </select>
                        <textarea id="output-lang-box" class="dictionary-widget-element input-box"></textarea>
                        <input id="translate-btn" type="button" value="Translate" class="dictionary-widget-element widget-button" />
                    </div>
                </div>
            </li>
            <li class="widget-item right iconFlag">
                <a href="#">
                    <img src="@Url.Action("Flags/" + defaultLanguage.Icon, "Images")" width="32" height="32" alt="@defaultLanguage.Code" />
                </a>
                <div class="widget language-widget" id="language-widget-id">
                    <ul class="lang-widget-list">
                        @foreach (var lang in languages)
                        {
                            <li class="widget-row">
                                <a href="@Url.Action("Index", "Home", new { languageId = @lang.LanguageId })">
                                    <img src="@Url.Action("Flags/" + lang.Icon, "Images")" width="32" height="32" alt="@lang.Code">
                                    @lang.Name
                                </a>
                            </li>     
                        }
                    </ul>
                </div>
            </li>
            <li class="widget-item right iconUser">
                <a href="#">
                    <img src="@Url.Action("user-icon.png", "Images")" alt="user" />
                </a>
                <div class="widget user-widget" id="user-widget">
                    @if (isAuthentificated)
                    {
                        <div class="user-widget-part">
                            <h2>@user.Username</h2>
                        </div>
                    }
                    else
                    {
                        <div class="user-widget-part">
                            <div class="login-btn-container">
                                <h3>To save your progress:</h3>
                                <button type="submit" class="show-sign-in-btn widget-button">Sing in</button>
                                or
                           <button type="submit" class="show-sign-up-btn widget-button">Sing up</button>
                            </div>
                            <div class="sign-in-container hidden">
                                <h3>Sign in</h3>
                                <form>
                                    <label>Username:</label>
                                    <input type="text" name="username" id="input-username-login" />
                                    <label>Password:</label>
                                    <input type="password" name="password" id="input-password-login" />
                                    <button type="submit" class="sign-in-btn widget-button" id="btnSignIn">Sign in</button>
                                    <button type="submit" class="cancel-btn widget-button">Cancel</button>
                                </form>
                            </div>
                            <div class="sign-up-container hidden">
                                <h3>Sign up</h3>
                                <form>
                                    <label>Username:</label>
                                    <input type="text" name="username" id="input-username-register" />
                                    <label>Email</label>
                                    <input type="email" name="email" id="input-email-register" />
                                    <label>Password:</label>
                                    <input type="password" name="password" id="input-password-register" />
                                    <button type="submit" class="sign-up-btn widget-button" id="btnSignUp">Sign up</button>
                                    <button type="submit" class="cancel-btn widget-button">Cancel</button>
                                </form>
                            </div>
                        </div>
                    }
                    <div class="user-widget-part">
                        <h3>Score : <span id="score">@user.Score</span> pts</h3>
                    </div>
                    <div class="user-widget-part">
                        <table class="left-align">
                            <tr>
                                <td>Lessons completed:</td>
                                <td id="lessonsCompleted">@completedLessons</td>
                            </tr>
                            <tr>
                                <td>Lessons failed:</td>
                                <td id="lessonsFailed">@notCompletedLessons</td>
                            </tr>
                            <tr>
                                <td>Accuracy:</td>
                                <td id="userAccurancy">@accurancy %</td>
                            </tr>
                        </table>
                    </div>
                    @if (isAuthentificated)
                    {
                        <div class="user-widget-part">
                            <h4>Achievements</h4>
                            <div>
                                @foreach (var achievement in achievements)
                                {
                                    <img src="@Url.Action("Achievements/" + achievement.Icon, "Images")" width="32" height="32" alt="@achievement.Name" title="@achievement.Name">
                                }
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                    <div class="user-widget-part">
                        <h4>Share your score </h4>
                        <div>
                            @if(isAuthentificated){
                                foreach (var sn in socialNetworks)
                                {
                                    <a class="social-network-link" href="@String.Format(sn.ShareUrl, user.Score)"  style="display:inline-block;" target="_blank">
                                        <img src="@Url.Action("SocialNetworks/" + sn.ImagePath, "Images")" alt="@sn.Name" title="@sn.Name">
                                    </a>
                                }
                            } else {
                                foreach (var sn in socialNetworks)
                                {
                                    <a class="social-network-link" href="@String.Format(sn.ShareUrl, scoreToken)"  style="display:inline-block;" target="_blank">
                                        <img src="@Url.Action("SocialNetworks/" + sn.ImagePath, "Images")" alt="@sn.Name" title="@sn.Name">
                                    </a>
                                }
                            }
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @if (isAuthentificated)
                    {
                        <div class="user-widget-part">
                             <button class="widget-button" type="button " id="btnLogout">Logout</button>
                        </div>
                    }
                </div>
            </li>
        </ul>
        <script>
            __AUTHENTIFICATED__ = "@isAuthentificated" === "True" ? true : false;
        </script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
        <script src="@Url.Action("FollaService.js", "Scripts")" type="text/javascript"></script>
        <div id="dialog" title="Info" class="hidden">
          <p id="dialog-message"></p>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="@Url.Action("ProgressStorage.js", "Scripts")" type="text/javascript"></script>
    <script src="@Url.Action("main.js", "Scripts")" type="text/javascript"></script>
    <script src="@Url.Action("Authentification.js", "Scripts")" type="text/javascript"></script>
    <script src="@Url.Action("Dictionary.js", "Scripts")" type="text/javascript"></script>
    <script src="@Url.Action("UserStats.js", "Scripts")" type="text/javascript"></script>
    <script src="@Url.Action("Dialog.js", "Scripts")" type="text/javascript"></script>
</body>
</html>
