﻿@{
    var book = ViewBag.book as DAL.StudyBook;
    var srcUrl = "http://docs.google.com/gview?url=" + book.ResourceUrl + "&embedded=true";
}
<link href="@Url.Action("study_book.css", "Styles")" rel="stylesheet" />

<div class="studybook-container">
    <h1>@book.Name</h1>
    <div class="studybook-section">
            <table>
                <tr>

                    <td>Author:</td>
                    <td>@book.Author</td>
                </tr>
                <tr>
                    <td>Year:</td>
                    <td>@book.Year</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>@book.Description</td>
                </tr>
            </table>
        <div class="clearfix"></div>
    </div>

    <div class="studybook-section">
        <iframe id="embedded-reader" src="@(srcUrl)"></iframe>
    </div>
</div>
